.nuxt-content {
  h1 {
    margin: 48px 0px 28px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 8px 12px 8px 16px;
    border-left: 6px solid $primary;
    background: $secondary;
  }

  h2 {
    border-left: 6px solid $primary;
    padding: 8px 12px 8px 16px;
    margin: 4rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  h4, h5, h6 {
    font-weight: bold;
  }

  strong {
    font-weight: bold;
  }

  em {

  }

  a {
    color: $primary;
    text-decoration: underline;
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.8rem;
  }

  code {

  }

  pre code {

  }
}