
// variables
$background-color: #F4EEE8;
$primary: #114E60;
$secondary: #325288;

$title-font: 'Noto Serif JP', serif;
$body-font: 'Noto Sans JP', sans-serif;

// fontsize
$huge: 32px;
$big: 28px;
$normal: 24px;
$small: 16px;
$x-small: 14px;
