
// screen size
$tablet: 640px;

// variables
$background-color: #f9f4ef;
$primary: #004643;
$secondary: #abd1c6;
$button: #f9bc60;
$button-text: #001e1d;
$highlight: #f9bc60;
$white: #FFFF;
$black: #000;

$title-font: 'Noto Serif JP', serif;
$body-font: "Kosugi",sans-serif;

// fontsize
$x-large: 26px;
$large: 22px;
$normal: 18px;
$small: 16px;
$x-small: 12px;

@media (max-width: $tablet) {
  $x-large: 20px;
  $large: 16px;
  $normal: 14px;
  $small: 10px;
  $x-small: 8px;
}
